{# api/templates/attributes.html #}
{% load render_table from django_tables2 %}

<!doctype html>
<html>
    <head>
        <title>List of Persons and attributes</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script> 
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"></script>
        <script
            type="text/javascript"
            src="/static_root/static/django_tables2_column_shifter/js/django_tables2_column_shifter.min.js">
        </script>
    </head>
    <body>
        <div class="container">
            {% if filter %}
            <div class="page-header">
                <br>
                  <h2>Filters</h2>
            </div>
            <div class="form-group">
                <form method="get" class="form ">
                    {{ filter.form.as_p }}
                    <input type="submit" class="btn btn-primary" />
                </form>
            </div>
            {% endif %}
            <div class="table">
            {% render_table table %}
            </div>
        </div>
    </body>
</html>

